body{
  margin:10px;
}
nav{
  display: flex;
  align-items: center;
  padding: 15px 5px;
  border: 1px solid white;
  background-color:#21222A;
  

}

.imglogo{
  width: 50px;
  height: 35px;
  margin-right: 15px;
  padding: 5px;
}

.heading{
font-size: 1.6rem;
font-weight: 700;
color: rgb(13, 123, 151);

}



