.nav{
  border: 1px solid white;
  background-color:rgba(19, 18, 18, 0.574);
  padding: 5px;
  display: flex;
  gap: 20px;
  border-radius: 10px;



}
.heading{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  /* background-color: black; */
}


