.nav-list {
    list-style: none;
    display:flex;
    gap:30px;

    
}
.head{
    
    display: flex;  
    align-items: center;   
    gap: 20px;  
    justify-content: center;
    padding:6px;
}

body{
    background-color: black;
    color: white;
    
    /* text-align: center; */
}
