.logo{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 71, 71);

}
.heading{
    font-size: 20px;
    color: white;
    padding: 5px;
        
    
}

article{
    margin-top: 25px;
    display: flex;
    margin-left: 10px;
    
}

.img-frame{
    height: 200px;
    width: 150px;
    overflow: hidden;


}
 .main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
 }

 .marker{
    height: 20px;
    width: 10px;
    margin-right: 5px;
    font-weight: 300;
 }
 

 .content{
    margin-left: 20px;
    margin-top: 20px;

 }
 
 .link{
    margin-left: 10px;
 }

 body{
      max-width: 600px;
         margin: 4px auto;


 }
